.footer {
  flex-shrink: 0;
  width: 100%;
  .nkg {
    border-top: 2px solid #343a40;
    font-weight: 500;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}